#capturarFotograma {
    margin: 1em 0;
}

#capturarFotograma > * {
    margin: 1em 0;
    display: block;
}

input[type="button"] {
    background-color: white;
    border: 3px solid black;
    font-weight: bold;
    padding: .75em 2em;
    text-transform: uppercase;
}

input[type="button"]:hover {
    background-color: black;
    color: yellow;
    animation-name: boxShadowInputButton;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes boxShadowInputButton {
    from {
        box-shadow: 0 0 0 transparent;
        border-radius: 0px;
    }

    to {
        box-shadow: 0 0 2em rgb(255, 153, 0);
        border-radius: 15px;
    }
}